body {
  background-image: url("./images/stardust.png");
  font: arial;
  font-family: sans-serif;
}

.main-site-contain {
  width: 766px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  border: solid black 1px;
  color: white;
  background-color: grey;
}

.nav-header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 4px;
  padding-bottom: 4px;
}

.main-header {
  padding-top: 8px;
  padding-bottom: 8px;
}

.main-body {
  padding-top: 8px;
  padding-bottom: 8px;
}

.main-footer {
  padding-top: 8px;
  padding-bottom: 8px;
}
